<!DOCTYPE html>
  <html> 
  
  <head>
    <title>New User</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <a href="/"> Back to User Detail Info </a>
    <br>

    <h1>New User</h1>

    <form action="/new_user" method="post">
        <label>Name:</label>
        <input type="text" name="name" required><br>
        <label>ID:</label>
        <input type="text" name="account_id" required><br>
        <label>Deposit:</label>
        <input type="text" name="balance" required><br>
        <input type="submit" value="Create">
    </form>


  </body>

</html>