<!DOCTYPE html>
<html>

  <head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
        <div class="index container">

            <h1>Gambling Site</h1>

              <p>Welcome to the gambling site.</p>

              <p> <a href="/logon" id="logon" >logon</a> to gamble </p>
              <p> <a href="/signup" id="signup" >sign up</a> to create account.</p>
        </div>

  </body>
</html>