<!DOCTYPE html>
  <html> 
  
  <head>
    <title>Open Account</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

  <body>
    <a href="/"> Back to Menu </a>
    <br>

    <h1>Open Account</h1>
    <form action="/open_account" method="post">
      <label>Name:</label>
      <input type="text" name="name" required field><br>
      <label>ID:</label>
      <input type="text" name="account_id" required field><br>
      <input type="submit" value="Open Account">
    </form>
  </body>

</html>